@use "abstract/display" as display;
@use 'abstract/colors';
@use "base/typo";
@use "base/reset";
/* @use "components/mermaid"; */
@use "layout/dual";
@use "layout/table";
@use "layout/article";
@use "layout/sidebar";
@use "layout/code";
@use "page/home";


details{
    border: 1px solid green;
    cursor: pointer
}
.resizeHandler{
    background: black;
    border : 1px solid grey;
    &:hover{
        border : 3px solid colors.$accent-color;
    }
}
.full-x{
    overflow-x: auto;
}
.debug{
    border: 1px solid green;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.top-right{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index : 3;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}
.grid{
    background: white;
    width: 90vw;
    max-width: 500px;
    display: grid;
    /* Chia nhiều cột khi đủ chỗ, thu hẹp thì dồn xuống dòng */
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));

  gap: 1rem; /* Thêm khoảng cách giữa các item nếu muốn */
}
